* {
	border: 1px solid red !important;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 500px) {
	p {
		display: none;
	}
}

.grid {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%
}

.row {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
	text-align: center;
	margin-top: 0px;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%
}

.header {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	background-color: #005C90
}

h1 {
	color: white;
	margin: 10px;
}

.h3Header {
	color: white;
	margin: 10px;
}

h2 {
	text-indent: 3%;
}

.centeredImage{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.img-circle{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin-left: 15%;
	margin-right: 10%;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	font-size: 50px;
	color: #fff;
	line-height: 100px;
	text-align: center;
	background: #000;
	margin: 20%;
	font-family: 'Mr Dafoe', cursive;
}